/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: "Open Sans", sans-serif;
  --body-font: "Work Sans", sans-serif;

  --body-color: #000000;
  --text-color: #ffffff;
  --action-color: #fd6d27;
  --gradient-color: linear-gradient(to bottom, #7a4fc1, #c059bd);
  --button-hover: transparent;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
html,
body {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-color);
  list-style: none;
}

main {
  max-width: 1400px;
  padding-inline: 60px;
}

/* TEKST START*/
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--primary-font);
  font-weight: bold;
  color: var(--text-color);
}

h1 {
  font-size: 2rem;
  margin-bottom: 44px;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.375rem;
}
h4 {
  font-size: 1.3rem;
}
p {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 1.5;
}
p,
a {
  font-family: var(--body-font);
}
a {
  cursor: pointer;
}
a:hover {
  color: var(--action-color);
}

.tagline {
  font-size: 0.8rem;
  color: #666666;
}

/* ___________________________ TABLET  ___________________________*/
/* reglerne gælder når skærmen er minimum 768px */
@media screen and (min-width: 768px) {
  .events_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
}

/* ___________________________ DESKTOP  ___________________________*/
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3.25rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.3rem;
  }

  p {
    font-size: 1.125rem;
  }
}

/* FORSIDE CSS */

.light {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--action-color);
}

.to_links {
  display: flex;
}

i {
  margin-left: 10px;
}
