---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Newsletter from "../components/Newsletter.astro";
---

<MainLayout>
  <h2>her er about</h2>

  <Newsletter />
</MainLayout>
