---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
---

<MainLayout>
  <h1>Copenhagen Light Festival</h1>
  <Button>TEXT</Button>
</MainLayout>
