---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Links from "../components/Links.astro";
import Timer from "../components/Timer.astro";
import Newsletter from "../components/Newsletter.astro";

const data = await fetch("https://sgtjiqlznfkfxjrnmbzs.supabase.co/rest/v1/CLF", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNndGppcWx6bmZrZnhqcm5tYnpzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0OTI4MTAsImV4cCI6MjAyNjA2ODgxMH0.3y04NP60alzSSL8lAd_mTtqqmiD4RNkQS0K1ILA3KBk",
  },
}).then((res) => res.json());

console.log(data);
---

<!-- <div class="index-background">
  <img src="/cph_light_3.jpeg" alt="Billede fra CLF" />
  <!-- <script type="module" src="https://unpkg.com/@splinetool/viewer@1.0.55/build/spline-viewer.js"></script>
  <spline-viewer url="https://prod.spline.design/YjqxmjkomxCqHi6g/scene.splinecode"></spline-viewer> -->-->
<MainLayout>
  <section>
    <p class="tagline">Discover the Magic</p>
    <h1>Copenhagen <br /> <span class="light">Light</span> Festival</h1>
    <div class="to_links">
      <Links variant="primary">Explore</Links>
      <Links variant="secondary">Contact <i class="fa-solid fa-chevron-right fa-0.5x" style="color: #ffffff;"></i></Links>
    </div>
    <Timer />
  </section>

  <section class="discover_flex">
    <div class="50">
      <hr class="hr_styling" />
      <p class="tagline">Immerse yourself in a captivating display of light-based works by renowned <br />designers.</p>
      <h2>Discover the Mesmerizing <br />World of <span class="light">Light Art</span></h2>
      <ul>
        <li>Immerse in luminous wonders at Copenhagen Light Festival.</li>
        <li>Join international and local audiences in celebrating the magic of light.</li>
        <li>Explore Copenhagen's radiance at the Light Festival.</li>
      </ul>
    </div>
    <div class="fifty">
      <div class="cph_image">
        <img src="/cph_light_1.jpeg" alt="Lys over København" />
      </div>
    </div>
  </section>

  <section class="index-highlights">
    <div class="center_text">
      <hr id="center_hr" class="hr_styling" />
      <p class="tagline">Highlights</p>
      <h2>Explore the <span class="light">Light</span> Program</h2>
      <p>Discover stunning light art installations and events.</p>
      <article></article>
      <article></article>
      <article></article>
    </div>
  </section>
  <section class="discover_flex">
    <div class="fifty">
      <div>
        <video src="/Sequence 01_3.mp4"></video>
      </div>
    </div>
    <div class="fifty">
      <hr class="hr_styling" />
      <h2>Get Early Access <span class="light">Information</span> <br />Here</h2>
      <p>Sign up to receive exclusive updates and VIP experiences.</p>
      <Newsletter />
    </div>
  </section>

  <section class="discover_flex">
    <div class="50">
      <hr class="hr_styling" />
      <p class="tagline">Discover</p>
      <h2>Contact us</h2>
      <p>Explore the main festival locations across Copenhagen.</p>
      <div class="contact_grid">
        <div class="row">
          <div class="content">
            <img src="/icon_envelope.svg" alt="envelope icon" />
            <div class="contact_info">
              <h5>Email</h5>
              <a class="mail" href="mailto:info@copenhagenlightfestival.org">info@copenhagenlightfestival.org</a>
            </div>
          </div>
          <div class="content">
            <img src="/icon_phone.svg" alt="phone icon" />
            <div class="contact_info">
              <h5>Phone</h5>
              <a class="phone" href="tel:+4525556604">+45 25 55 66 04</a>
            </div>
          </div>
          <div class="content">
            <img src="/icon_map.svg" alt="map icon" />
            <div class="contact_info">
              <h5>Adress</h5>
              <a class="adress" href="https://maps.app.goo.gl/gbwBRvixEDHALY1j7">Toldbodgade 39, 1253 København K</a>
            </div>
          </div>
        </div>

        <div class="fifty">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2249.3686060118107!2d12.593556900000001!3d55.682579000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46525d389ca4df77%3A0x4f0c342ffcace904!2sCopenhagen%20Light%20Festival!5e0!3m2!1sda!2sdk!4v1710756146542!5m2!1sda!2sdk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </section>

  <style>
    section {
      margin-bottom: 64px;
    }

    .fifty {
      width: 100%;
      margin-inline: auto;
    }

    .index-highlights {
      display: flex;
      justify-content: center;
    }

    .center_text {
      text-align: center;
    }

    #center_hr {
      margin-inline: auto;
    }

    .cph_image {
      mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 60%);
    }
    .light {
      color: transparent;
      -webkit-text-stroke-width: 1.2px;
      -webkit-text-stroke-color: var(--action-color);
    }

    .to_links {
      display: flex;
    }

    li {
      padding-top: 8px;
      margin-left: 15px;
    }

    .index-background {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    .row {
      margin: 48px 0;
    }
    .content img {
      width: 26.67px;
      height: 21.33px;
      margin-bottom: 12px;
    }
    .content {
      margin-bottom: 40px;
    }
    .contact_info a {
      color: var(--text-color);
      text-decoration: none;
    }
    .contact_info a:hover {
      color: var(--action-color);
    }
    h5 {
      margin-bottom: 8px;
    }
    iframe {
      width: 100%;
      height: 450px;
    }

    /* ___________________________ TABLET  ___________________________*/
    /* reglerne gælder når skærmen er minimum 768px */
    @media screen and (min-width: 768px) {
      .fifty {
        width: 80%;
        margin-inline: inherit;
      }
    }

    /* ___________________________ DESKTOP  ___________________________*/
    @media screen and (min-width: 1024px) {
      section {
        margin-bottom: 250px;
      }
      .discover_flex {
        display: flex;
        justify-content: space-evenly;
        gap: 100px;
      }
      .contact_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .fifty {
        width: 50%;
        margin-inline: inherit;
      }
      iframe {
        width: 600px;
        height: 450px;
      }
    }
  </style>
</MainLayout>
