---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";

const data = await fetch("https://sgtjiqlznfkfxjrnmbzs.supabase.co", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNndGppcWx6bmZrZnhqcm5tYnpzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0OTI4MTAsImV4cCI6MjAyNjA2ODgxMH0.3y04NP60alzSSL8lAd_mTtqqmiD4RNkQS0K1ILA3KBk",
  },
}).then((res) => res.json());

console.log(data);
---

<MainLayout>
  <h1>Explore our Installations</h1>
  <p>Discover the captivating light installations and immerse yourself in the magic of Copenhagen Light Festival.</p>
</MainLayout>
