---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import GetInTouchCart from "../components/GetInTouchCart.astro";
---

<MainLayout>
  <h1>Explore our Installations</h1>
  <p>Discover the captivating light installations and immerse yourself in the magic of Copenhagen Light Festival.</p>

  <GetInTouchCart />
</MainLayout>
