---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import GetInTouchCart from "../components/GetInTouchCart.astro";
---

<MainLayout>
  <h1>Choose Your Route to Explore our Magical Installations</h1>
  <p>Experience the mesmerizing light installation that brings colors to life.</p>
</MainLayout>
