---
const { eventCardNr, eventNavn, eventDato } = Astro.props;
---

<!-- <article class={eventNavn + " " + eventDato}><slot /></article> -->
<article class={eventCardNr + eventNavn + eventDato}>
  <slot />
  <!-- <div class="event_billede"> -->
  <!-- <h4>{eventNavn}</h4>
    <p>{eventDato}</p>
    <button>Learn more</button>
  </div> -->
</article>

<style>
  article {
    border-color: var(--text-color);
  }
  .nr1 {
    background-image: url(https://copenhagenlightfestival.org/wp-content/uploads/2024/02/dac.png);
    filter: brightness(50%);
  }
  h4 {
    text-align: center;
  }
  p {
    text-align: center;
  }
</style>
