---
import Links from "./Links.astro";
const { tagline } = Astro.props;
---

<article>
  <a href="/events">
    <img src="https://copenhagenlightfestival.org/wp-content/uploads/2024/02/74-Unorbit-1-scaled.jpg" alt="Events billede" />
  </a>
  <p class="tagline">{tagline}</p>

  <a href="/events">
    <h4>Explore our Events</h4>
  </a>

  <p>Immerse yourself in the captivating world of light art.</p>

  <div class="card_bund">
    <a href="/events">
      <Links variant="learn-more">Learn more <i class="fa-solid fa-chevron-right fa-0.5x" style="color: #ffffff;"></i></Links>
    </a>
  </div>

  <style>
    article img {
      width: 100%;
      aspect-ratio: 16/9;
      object-fit: cover;
    }

    .card_bund {
      display: grid;
      place-items: start;
    }
    .card_bund p {
      margin-top: auto;
      font-size: 1rem;
    }

    a.overlay:hover {
      background-color: #00000073;
    }
  </style>
</article>
