---

---

<a href="#" class="overlay">
  <article>
    <img src="https://placehold.co/600x400" alt="" />
    <div class="header">
      <h4>overskrift i varierende længede</h4>
    </div>
    <div class="card_content">her er selve indholdet</div>

    <div class="card_bund">
      <p>her er min card bund</p>
    </div>
  </article>
</a>
