---
// const { variant } = Astro.props;
import Links from "../components/Links.astro";
---

<!-- <a class={variant}><slot /></a> -->
<div class="newsletter">
  <form name="newsletter" method="get" data-netlify="true">
    <div class="info">
      <p>Stay up to date on the latest features and releases by joining our newsletter.</p>
    </div>
    <div class="container">
      <label for="email"><input class="subscribe_text" type="email" placeholder="Email" name="email" id="email" required /> </label>

      <Links variant="primary" class="subscribe_knap" type="submit">Subscribe</Links>
    </div>
    <label for="terms" class="terms"><input class="terms" type="checkbox" name="termscond" id="terms" />I agree to the Terms </label>
  </form>
</div>

<style>
  .newsletter {
    display: grid;
    justify-items: start;
    max-width: 500px;
  }
  .info p {
    font-size: 1.1rem;
  }
  .container {
    display: flex;
    margin: 16px 0;
    gap: 16px;
  }
  .subscribe_text {
    font-size: 0.8rem;
    padding: 12px 23px 12px 6px;
    width: 320px;
  }
  .subscribe_knap {
    font-size: 0.8rem;
    width: 100%;
  }

  .terms {
    display: flex;
    gap: 1rem;
    font-size: 0.7rem;
    cursor: pointer;
    color: var(--text-color);
    font-family: var(--body-font);
  }
</style>
