---

---

<a href="#top">
  <div class="knap"><p><span>←</span> Back to top</p></div>
</a>

<style>
  .knap {
    transform: rotate(90deg);
    position: fixed;
    color: var(--text-color);
    right: 0;
    display: inline;
    letter-spacing: 3px;
    transition: all 0.55s ease;
  }

  .knap p:hover {
    color: var(--action-color);
  }
</style>
